{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="mt-5">Super Admin panel</h1>
            <div class="col-lg-6">
                Welcome in Super Admin dashboard
            </div>
        </div>
    </div>
{% endblock %}